/target/
/build/
/target/

/gwt-unitCache
/.settings
/.gwt
/.project
/.classpath
.gradle/
/bin/
/ms.war
/version
/${app.ctx}.war
*.launch
gwt-servlet.jar
/target/

*.class
WebContent/common/
WebContent/WEB-INF/deploy/
WebContent/WEB-INF/classes/
/war/
